@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=ABeeZee&display=swap');

/*-----General style of BSL Game-----*/

/* eliminates default margin & padding for all browsers */
* {
    margin: 0;
    padding: 0;
}

/* pushes down the main content due to a fixed-top Bootstrap styling in mobile view */
body {
    padding-top: 2em;
}

.heading {
    font-family: "Akaya Telivigala", sans-serif;
    color: #0F0A0A;
    text-align: center;
}

.main-content {
    font-family: "ABeeZee", sans-serif;
    color: #0F0A0A;
}

/* -----Header section----- */

.bg-acid-green {
    background-color: #BDBF09;
}

.navbar-brand {
    font-family: "Akaya Telivigala", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    font-family: "Akaya Telivigala", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
}

/* colours the active link */
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
    color: rgba(217, 108, 6, 0.9);
}

/* colours the links when hovered on */
.navbar-light .navbar-brand {
    color: #0F0A0A;
}

/* creates a gap between nav-items and toggle dropdown */
.navbar-collapse {
    padding: 0.75rem;
}

/* positions nav-items to the right in mobile view */
.nav-item {
    text-align: right;
}

/* creates a shadow below the navbar to separate main content */
.navbar {
    box-shadow: 0 0 8px #0F0A0A;
}

/* -----Main section----- */

.general-style {
    background-color: #BDBF09;
    padding: 2rem 0;
}

.bsl-logo img {
    display: block;
    margin: 0 auto;
    padding-top: 3em;
    width: auto;
}

.heading-space {
    padding-top: 25px;
}

.heading-underline {
    border-bottom: 5px solid #D96C06;
    width: 9rem;
    margin: 0 auto;
}

.link-style {
    display: block;
    text-align: center;
    line-height: 3rem;
}

.resource-content {
    padding: 1rem 0.75rem;
}

/* -----Buttons----- */

.button-style {
    display: block;
    width: 15rem;
    margin: 3rem auto;
    padding: 0.5rem;
    box-shadow: 0 0 7px #0F0A0A;
    font-family: "ABeeZee", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #D96C06;
    color: #F5EFED;
}

.button-style:hover {
    color: #0f0a0a;
}

.icon {
    padding: 0.5rem;
}

.contact-button {
    display: flex;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: #2292A4;
    border: 3px solid #F5EFED;
    font-weight: 500;
}

.contact-button:hover {
    background-color: #F5EFED;
    border: 3px solid #2292A4;
    color: #2292A4;
}

.contact-button:focus {
    background-color: #2292A4;
    border: 3px solid #F5EFED;
    color: #F5EFED;
}

.speed-level {
    width: 75px;
    padding: 5px;
    margin: 0 2px;
    background-color: #D96C06;
    color: #F5EFED;
}

.play-game {
    width: 105px;
    padding: 5px;
    margin-bottom: 1rem;
    background-color: #2292A4;
    color: #F5EFED;
}

/* -----Modals----- */

/* Homepage */
.modal-content {
    background-color: #F5EFED;
    border: 4px solid #D96C06;
    border-radius: 8px;
}

.modal-header .btn-close {
    margin: 0;
}

.modal-heading {
    margin: 0 auto;
    font-family: "Akaya Telivigala", sans-serif;
    color: #2292A4;
}

.modal-button {
    margin: auto;
    background-color: #2292A4;
    border-color: #2292A4;
}

.modal-button:hover {
    margin: auto;
    background-color: #F5EFED;
    border: 2px solid #2292A4;
    color: #2292A4;
    font-weight: bold;
}

.modal-button:focus {
    margin: auto;
    background-color: #2292A4;
    border-color: #2292A4;
    color: #F5EFED;
}

.play-listings > li {
    margin-bottom: 1rem;
}

/* BSL Game page */
/* modal extracted & improvised from https://www.w3schools.com/howto/howto_css_modals.asp */
.game-intro-modal {
    display: none; /* hidden by default */
    position: fixed; /* stay in place */
    z-index: 1; /* sit on top */
    padding-top: 250px; /* location of the box */
    left: 0;
    top: 0;
    width: 100%; /* full width */
    height: 100%; /* full height */
    overflow: auto; /* enable scroll if needed */
    background-color: rgb(0,0,0); /* fallback colour */
    background-color: rgb(0,0,0,0.4); /* black with opacity */
}

/* also extracted & improvised from https://www.w3schools.com/howto/howto_css_modals.asp */
.game-intro-content {
    width: 90%;
    margin: auto;
    padding: 15px;
    background-color: #F5EFED;
    border: 4px solid #D96C06;
    border-radius: 8px;
    font-family: "Akaya Telivigala", sans-serif;
    font-size: 1.15rem;
    font-weight: bold;
    color: #2292A4;
}

/* also extracted & improvised from https://www.w3schools.com/howto/howto_css_modals.asp */
.close {
    float: right;
    position: relative;
    top: -15px;
    right: -5px;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}

/* also extracted & improvised from https://www.w3schools.com/howto/howto_css_modals.asp */
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.flashimages {
    animation: flash linear 1s 1;
    width: 10rem;
    height: auto;
    padding: 0.2rem;
    margin-bottom: 5rem;
}

@keyframes flash {
    0%, 50% {opacity: 0;}
    100% {opacity: 1;}
}

/* -----Footer----- */

.footer-style {
    height: 12.5rem;
    padding-top: 2.25rem;
    line-height: 2.5rem;
    background-color: #2292A4;
    color: #F5EFED;
}

.footer-container {
    text-align: center;
}

.social-links {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-evenly;
}

/* removes the preset spacing to push up the copyright section */
.social-links dl, ol, ul {
    margin-bottom: 0;
}

/* social-links extracted & improvised from Rosie's résumé */
.social-links li a i {
    height: 2.5rem;
    width: 2.5rem;
    padding: 1rem 0;
    border-radius: 50%;
    line-height: 8px;
    font-size: 2rem;
    color: #F5EFED;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/* also extracted & improvised from Rosie's résumé */
.social-links li a i:hover {
    color: #BDBF09;
    background: #F5EFED;
    transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
}

.social-links-item {
    text-align: center;
}

.social-links-item a:link {
    text-decoration: none;
}

.footer-links {
    font-family: "ABeeZee", sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    color: #F5EFED;
}

.copyright {
    font-family: "ABeeZee", sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    color: #F5EFED;
    margin: 0 auto;
}

/* -----BSL game----- */

/* source extracted on lines 221 - 224 for centring icon horizontally & vertically
https://stackoverflow.com/questions/5703552/how-can-i-center-text-horizontally-and-vertically-inside-a-div-block */
.bsl-game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin: 2rem 0;
    padding: 0.75rem;
    border: 3px solid #0F0A0A;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px #F5EFED;
    background-color: #F5EFED;
    text-align: center;
    color: #D96C06;
}

.play-button {
    font-size: 4rem;
}

.play-button:hover {
    color: #BDBF09;
    font-weight: bold;
}

.play-font {
    padding-top: 1rem;
    font-family: "ABeeZee", sans-serif;
    font-weight: bold;
}

#bslAnswerContainer {
    position: absolute;
    bottom: 17rem;
}

#bsl-answer-label {
    padding-top: 1rem;
    font-family: "ABeeZee", sans-serif;
    font-weight: bold;
}

#bslWordGuess {
    font-family: "ABeeZee", sans-serif;
}

/* keeps the table within the webpage rather than overflowing */
.bsl-guide {
    overflow-x: auto;
}

.bsl-reference-guide {
    margin-left: auto;
    margin-right: auto;
}

.bsl-letters {
    font-family: "ABeeZee", sans-serif;
    text-align: center;
    color: #0F0A0A;
}

/* styles the BSL alphabet images */
img {
    width: 4rem;
    height: auto;
    padding: 0.2rem;
}

/* -----Contact----- */

/* separates the gap between heading and contact form */
.contact-content {
    padding: 1rem 0.75rem;
}

.contact-heading {
    margin-bottom: 0.9rem;
    font-family: "Akaya Telivigala", sans-serif;
    color: #0F0A0A;
}

.form-container {
    padding: 0 10px;
    padding-bottom: 20px;
    color: #0F0A0A;
}

.form-group {
    margin-bottom: 1.25rem;
}

.form-labels {
    font-family: "Akaya Telivigala", sans-serif;
    font-size: 1.25rem;
}

.form-inputs {
    font-family: "ABeeZee", sans-serif;
}

/* -----Media queries----- */

@media (min-width: 425px) {
    #bsl-answer-label {
        padding-top: 1.5rem;
    }
}

@media (min-width: 576px) {
    .nav-item {
        padding: 0px 7px;
    }
}

@media (min-width: 768px) {
    /* pushes down the main content due to a fixed-top Bootstrap styling from tablet view */
    body {
      padding-top: 5em;
    }

    /* following 3 classes extracted & improvised from https://codepen.io/bootstrapped/pen/yJqbPa */
    /* positions it under each navigational link from tablet view */
    .link-underline {
        position: relative;
        text-decoration: none;
    }

    .link-underline:after {
        position: absolute;
        content:'';
        height: 3px;
        bottom: 2px;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 50%;
        background: #F5EFED;
        -o-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
    }

    .link-underline:hover:after {
        width: 80%;
        background: #D96C06;
    }

    .bsl-logo img {
        padding-top: 2em;
    }

    .heading-underline {
        width: 11rem;
    }

    .game-intro-modal {
        padding-top: 296px;
    }

    .game-intro-content {
        width: 85%;
    }

    .resource-content {
        padding: 1rem 3rem;
    }

    .form-container {
        margin: 0 auto;
        width: 75%;
    }
}

@media (min-width: 1024px) {
    .heading-underline {
        width: 12rem;
    }
    
    .main-content {
        font-size: 1.125rem;
    }

    .modal-dialog {
        max-width: 700px;
    }

    .resource-content {
        padding: 1rem 7.5rem;
    }
}

@media (min-width: 1440px) {
    .heading-underline {
        width: 13rem;
    }

    .flashimages {
        width: 14rem;
        margin-bottom: 5rem;
    }

    #bslAnswerContainer {
        position: absolute;
        bottom: 19rem;
    }
}