@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=ABeeZee&display=swap');

/*-----General style of BSL Game-----*/

/* eliminates default margin & padding for all browsers */
* {
    margin: 0;
    padding: 0;
}

/* pushes down the main content due to a fixed-top Bootstrap styling in mobile view */
body {
    padding-top: 3em;
}

.heading {
    font-family: "Akaya Telivigala", sans-serif;
    text-align: center;
}

.main-content {
    font-family: "ABeeZee", sans-serif;
}

/* -----Header----- */

/* creates a shadow below the navbar in mobile view */
.navbar {
    box-shadow: 0 0 8px #0F0A0A;
}

.bg-acid-green {
    background-color: #BDBF09;
}

.navbar-brand {
    font-family: "Akaya Telivigala", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    font-family: "Akaya Telivigala", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
}

.nav-item {
    text-align: right;
}

.navbar-light .navbar-brand {
    color: #0F0A0A;
}

.navbar-collapse {
    padding: 1rem;
}

/* Main section */

.general-style {
    background-color: #BDBF09;
}

.bsl-logo img {
    display: block;
    margin: auto;
    padding-top: 3em;
    width: auto;
}

/* -----Media queries----- */

@media (min-width: 768px) {
    /* pushes down the main content due to a fixed-top Bootstrap styling from tablet view */
    body {
      padding-top: 5em;  
    }
}